<% # ######################################
# this file was generated on Wednesday November 10, 2021 at 10:48:22 AEDT by
# "index.html.erb" do not modify this file, your changes will be clobbered!
# #################################
 %>
<p id="notice"><%= notice %></p>
<h1>Developer's view of PhoneTypes - Phone Types</h1>
<table border="1">
  <thead>
  <tr>
    <th colspan="3">(actions)</th>
    <th>Name</th>
    <th>Description</th>
  </tr>
</thead>
  <tbody>
<% @phone_types.each do |phone_type| %>
  <tr>
    <td><%= link_to 'Show', phone_type_path(phone_type) %></td>
    <td><%= link_to 'Edit', edit_phone_type_path(phone_type) %></td>
    <td><%= link_to 'Delete', phone_type_path(phone_type), method: :delete, data: { confirm: 'Are you sure? You are about to delete this record.' } %></td>
      <td><%= phone_type.name.to_s %></td>
      <td><%= phone_type.description.to_s %></td>
  </tr>
<% end %></tbody>
</table>
<br>

<%= link_to 'New Phone Type', new_phone_type_path %>
