<% # ######################################
# this file was generated on Wednesday November 10, 2021 at 10:48:22 AEDT by
# "index.html.erb" do not modify this file, your changes will be clobbered!
# #################################
 %>
<p id="notice"><%= notice %></p>
<h1>Developer's view of Divisions - Divisions</h1>
<table border="1">
  <thead>
  <tr>
    <th colspan="3">(actions)</th>
    <th>Status</th>
    <th>Description</th>
    <th>Name</th>
    <th>Code</th>
    <th>Op. Markup</th>
  </tr>
</thead>
  <tbody>
<% @divisions.each do |division| %>
  <tr>
    <td><%= link_to 'Show', division_path(division) %></td>
    <td><%= link_to 'Edit', edit_division_path(division) %></td>
    <td><%= link_to 'Delete', division_path(division), method: :delete, data: { confirm: 'Are you sure? You are about to delete this record.' } %></td>
      <td><%= division.status.to_s %></td>
      <td><%= division.description.to_s %></td>
      <td><%= division.name.to_s %></td>
      <td><%= division.code.to_s %></td>
      <td><%= number_to_percentage((division.op_mark) * 100, precision: 2) %></td>
  </tr>
<% end %></tbody>
</table>
<br>

<%= link_to 'New Division', new_division_path %>
