<% # ######################################
# this file was generated on Wednesday November 10, 2021 at 10:48:22 AEDT by
# "index.html.erb" do not modify this file, your changes will be clobbered!
# #################################
 %>
<p id="notice"><%= notice %></p>
<h1>Developer's view of Countries - Countries</h1>
<table border="1">
  <thead>
  <tr>
    <th colspan="3">(actions)</th>
    <th>Number</th>
    <th>Name</th>
    <th>Code</th>
    <th>Nick Name</th>
  </tr>
</thead>
  <tbody>
<% @countries.each do |country| %>
  <tr>
    <td><%= link_to 'Show', country_path(country) %></td>
    <td><%= link_to 'Edit', edit_country_path(country) %></td>
    <td><%= link_to 'Delete', country_path(country), method: :delete, data: { confirm: 'Are you sure? You are about to delete this record.' } %></td>
      <td><%= country.number.to_s %></td>
      <td><%= country.name.to_s %></td>
      <td><%= country.code.to_s %></td>
      <td><%= country.nick_name.to_s %></td>
  </tr>
<% end %></tbody>
</table>
<br>

<%= link_to 'New Country', new_country_path %>
