<% # ######################################
# this file was generated on Wednesday November 10, 2021 at 10:48:22 AEDT by
# "index.html.erb" do not modify this file, your changes will be clobbered!
# #################################
 %>
<p id="notice"><%= notice %></p>
<h1>Our Company Structures - Divisions</h1>
<table border="1">
  <thead>
  <tr>
    <th colspan="1">(actions)</th>
    <th>Code</th>
    <th>Name</th>
    <th>Operational Manager Full Name</th>
    <th>Description</th>
  </tr>
</thead>
  <tbody>
<% @divisions.each do |division| %>
  <tr>
    <td><%= link_to 'Show', cmp_lst_division_path(division) %></td>
      <td><%= division.code.to_s %></td>
      <td><%= division.name.to_s %></td>
      <td><%= Employee.find_by_id(division.operational_manager_id).first_last_name %></td>
      <td><%= division.description.to_s %></td>
  </tr>
<% end %></tbody>
</table>
<br>


